.date-text {
    font-size: 16px;
    color: #5c5b5b;
}

.username {
    font-size: 24px;
    font-weight: 400;
}

.hashtag {
    color: #777676;
}

.marks-as-read {
    color: blue;
}

.marks-as-read p {
    text-decoration: underline;
}

.custom-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 2px;
    background-color: rgb(206, 205, 205);
}

@media screen and (max-width:576px) {
    .username {
        font-size: 16px;
    }

    .date-text {
        font-size: 14px;
    }
}