.blog{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

@media  screen and (max-width:576px) {
    /* .blog{
        grid-column-end: span 2;
    } */
}

/* .blog-section{
    background-color: aquamarine;
}
.sidebar{
    background-color: antiquewhite;
} */
/* .sidebar{
    position: sticky;
    top: 0;
} */